<div id="create-book" class="wrapper">
  <h1>Formulario Alta Libro</h1>
  <div id="crearLibro">
    <form id="form-book" ng-submit="submit()">
      <input id="idBook" type="hidden" value="{{book.id}}">
      <input id="title" name="title" type="text" class="form-control" placeholder="Titulo" value="{{book.title}}" required>
      <div id="author-typeahead">
        <input id="author" class="form-control typeahead" type="text" placeholder="Authors" value="{{book.author}}" required>
      </div>
      <div id="description"><p>
        {{book.description}}
      </p></div>
      <input id="pagesAmount" name="pagesAmount" type="text" class="form-control" placeholder="Cantidad de Paginas" value="{{book.pagesAmount}}" required>
      <input type="submit" id="submit" value="Submit" />
    </form>
  </div>
</div>
