<div id="books" class="table-responsive">
  <span id="books-counter">Cantidad de libros: {{books.length}}</span>
  <table class="table table-hover">
    <thead>
      <tr>
        <td id="default-row">Book Title</td>
        <td id="default-row">Book Author</td>
        <td id="default-row">Book Description</td>
        <td id="default-row">Book Pages Amount</td>
        <td id="default-row" style="width:5%"></td>
        <td id="default-row" style="width:5%"></td>
      </tr>
    </thead>
    <tbody id="books-table">
      <tr ng-repeat="book in books | filter:queryBook">
        <td>{{book.title}}</td>
        <td ng-model="authorName">{{book.author}}</td>
        <td>{{book.description}}</td>
        <td class="text-center">{{book.pagesAmount}}</td>
        <td style="width:5%"><a href="#/bookDetail/{{book.id}}">Editar</a></td>
        <td style="width:5%"><a ng-click="deleteBook(book.id)">Quitar</a></td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-default" href="#/books/new" role="button">Create Book</a>
</div>
